@using tBlog.Domain.Entities
@using tBlog.Web.Application.Services
@model tBlog.Web.Models.EntryViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/showEntry.js")" type="text/javascript"></script>
}

@section styles
{
    <style>
        input, textarea {
            width: 98%;
        }
    </style>
}
<article class="entrie">
    <h2>@Model.Title</h2>
    <p class="span8">
        @Html.Raw(Model.Body.RemoveCutSign())
    </p>
    @Html.Partial("DisplayTemplates/EntryDetails", Model)
</article>
<div class="row">
    <div id="comment-container" class="offset1 span8">
        @{ Html.RenderAction("List", "Comment", new { slud = Model.Slug } );}
    </div>
</div>
@Html.Partial("EditTemplates/CreateComment", new Comment{ EntryId = Model.Id })